{% extends 'base.html' %} {% block start %}

<div class="container mt-5">
  <form
    class="col-6 mx-auto card p-3 shadow-lg"
    method="post"
    enctype="multipart/form-data"
  >
    {% csrf_token %}

    <h2>Login</h2>

    {% if messages %}
   
      {% for message in messages %}
      <div class="alert alert-primary" role="alert">{{message}}</div>
      {% endfor %}

    {% endif %}

    <div class="mb-3">
      <label class="form-lable">User name</label>
      <input type="text" required class="form-control" name="user_name" />
    </div>

    <div class="mb-3">
      <label class="form-lable">password</label>
      <input type="password" required class="form-control" name="password" />
    </div>

    <p>Don't have an account? <a href="/register/">Register</a></p>

    <button type="submit" class="btn btn-success">Login</button>
  </form>
</div>

{% endblock %}
